body {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
}

.box-header {
  width: 100%;
  max-width: 1600px;
  height: 4840px;
  border: 1px solid black;
  margin: 80px;
}
.blok_background {
  background: url(../Pictures/BG.png) no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 747px;
}
.menu__element {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1439px;
  height: 50px;
  padding: 48px 80px 8px;
}

.logo {
  background: url(../Pictures/icon.png) no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  max-width: 320px;
  height: 50px;
}
.menu_button {
  margin: auto 21px 0px;
  padding: 15px 25px 5px;
}
.menu__button {
  width: 81px;
  height: 30px;
  background: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.menu__button:hover {
  background-color: #000000;
}

.stily_button {
  margin: auto 21px 0px;
  padding: 15px 25px 9px;
}
.menu___button {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  background: transparent;
  outline: 1px solid #ffffff;
  border: none;
}
.menu___button:hover {
  background-color: #000000;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header_element {
  margin: 83, 5px 99px 15px;
  padding: 83, 5px 0px 0px 0px;
}
.header_video {
  margin: 147px 91px 101px;
  padding: 65px 36px 6px 53px;
  background: url(../Pictures/video.png) no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  max-width: 598px;
  height: 322px;
  outline: none;
}

.header__contents {
  font-size: 55px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 800;
  margin: 167px 83px 0px;
}
.header__text {
  width: 100%;
  max-width: 591px;
  height: 101px;
  margin: 2px 0px 0px 89px;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
}
.header__button {
  display: flex;
  width: 100%;
  max-width: 299px;
  height: 113px;
  margin: 45px;
  padding: 18px 45px;
}
.button___fon {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  width: 100%;
  max-width: 150px;
  height: 55px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
  -moz-box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
  box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
}

.button___blek {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  width: 100%;
  max-width: 160px;
  height: 58px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 0px 20px;
  -webkit-box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
  -moz-box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
  box-shadow: 0px 10px 14px 1px rgba(10, 21, 29, 0.16);
}

.button___fon:hover {
  background-color: #000000;
  color: #ffffff;
}
.button___blek:hover {
  background-color: #000000;
  color: #ffffff;
}
.Play_Button {
  display: flex;
  justify-content: center;
  background: url(../Pictures/PlayButton.png) no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  max-width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 65px 0px 0px 217px;
}
.header-text {
  margin: 11px 54px 10px 0px;
}
.header_text {
  font-size: 12px;
  color: #061e37;
  font-weight: 700;
  text-align: center;
}

.article-title {
  width: 100%;
  max-width: 1600px;
  height: 807px;
}

.article_title {
  margin: 0px;
  padding: 102px 0px 0px 0px;
  font-size: 45px;
  color: #061e37;
  font-weight: 600;
  text-align: center;
}

.article_title_text {
  font-size: 25px;
  color: #b0bec5;
  font-weight: 600;
  text-align: center;
  margin: 26px 0px 0px 0px;
}

.article_string {
  width: 100%;
  height: 63px;
  font-size: 15px;
  line-height: 25px;
  color: #b0bec5;
  font-weight: 400;
  text-align: center;
}

.article {
  display: flex;
  justify-content: space-between;
}
.article__box {
  width: 100%;
  max-width: 385px;
  height: 503px;
}
.article__icon1 {
  background: url(../Pictures/icon1.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin: 107px 0px 43px 150px;
}
.article__icon2 {
  background: url(../Pictures/icon2.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin: 107px 0px 43px 150px;
}
.article__icon3 {
  background: url(../Pictures/icon3.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin: 107px 0px 43px 150px;
}
.article_text {
  width: 100%;
  max-width: 350px;
  height: 52px;
  font-size: 15px;
  line-height: 20px;
  color: #78909c;
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 83px 0px;
}

.article__button {
  width: 100%;
  max-width: 150px;
  height: 55px;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.15));
  background-color: #1de9b6;
  outline: none;
  border: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin: 0px 0px 0px 103px;
}

.article__button:hover {
  background-color: #000000;
  color: #ffffff;
}
.const-blok {
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: 150px;
}
.const_box_buslness {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 150px;
  background-color: #80d8ff;
}

.const_box_downloads {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 398px;
  height: 150px;
  background-color: #82b1ff;
  margin: 0px;
}
.const_box_installs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 398px;
  height: 150px;
  background-color: #b388ff;
}
.const_box_user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 404px;
  height: 150px;
  background-color: #ea80fc;
}
.const__box__elips {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  margin: 0px 0px 0px 33px;
}
.const__box__icons {
  background: url(../Pictures/business.png) no-repeat 100% 100%;
  background-size: cover;
  width: 26px;
  height: 24px;
  margin: 17px 17px 17px 17px;
}
.const__box__text {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 800;
  margin: 9px 199px 1px 15px;
}

.const_rew {
  display: flex;
  justify-content: space-around;
}
.const__box_icons {
  background: url(../Pictures/file_download.png) no-repeat 100% 100%;
  background-size: cover;
  width: 26px;
  height: 24px;
  margin: 17px 17px 17px 17px;
}
.const__box___icons {
  background: url(../Pictures/person.png) no-repeat 100% 100%;
  background-size: cover;
  width: 26px;
  height: 24px;
  margin: 17px 17px 17px 17px;
}
.const__box__texts {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 800;
  margin: auto 0;
  padding: 0px 145px 0px 0px;
}

.const__box__icon_download {
  background: url(../Pictures/file_downloads.png) no-repeat 100% 100%;
  background-size: cover;
  width: 23px;
  height: 24px;
  margin: 17px 17px 17px 17px;
}
.article__title {
  font-size: 20px;
  line-height: 25px;
  color: #061e37;
  font-weight: 600;
  text-align: center;
}

.blok-fon {
  width: 1600px;
  height: 869px;
  border: 1px solid #000000;
}
.blok {
  width: 100%;
  max-width: 1600px;
  height: 871px;
}
.contanier {
  text-align: center;
  position: relative;
  top: 73px;
}
.title {
  font-size: 45px;
  color: #061e37;
  font-weight: 600;
}
.blok__content {
  text-align: center;
}
.blok__text {
  font-size: 15px;
  line-height: 37px;
  color: #b0bec5;
  font-weight: 400;
}
.battom-menu {
  width: 800px;
  height: 246px;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.13));
  background-color: #ffffff;
  margin-top: 20px;
}

.batton-menu {
  width: 800px;
  height: 246px;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.13));
  background-color: #ffffff;
  margin-top: 20px;
}

.blok__battom-icon {
  background: url(../Pictures/trending_up.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 52px;
  height: 42px;
}
.blok__battom-pointer {
  background: url(../Pictures/arrow_drop_down.png);
  background-size: cover;
  width: 100%;
  max-width: 15px;
  height: 9px;
  margin: 17px;
}

.blok__battom-text {
  font-size: 15px;
  line-height: 41px;
  color: #061e37;
  font-weight: 700;
  text-align: center;
}
.blok__batton-element {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
}

.blok__left-side {
  width: 100%;
  max-width: 125px;
  height: 34px;
  display: flex;
}
.blok__img-cont {
  background: url(../Pictures/Rounded_Rectangle_53.png);
  background-size: cover;
  width: 100%;
  width: 249px;
  height: 153px;
}
.blok__text-cont {
  width: 475px;
  line-height: 139px;

  font-size: 15px;
  line-height: 25px;
  color: #061e37;
  font-weight: 400;
}

.blok__cont {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.btn-grup {
  align-self: center;
}
.blok__battom-menu {
  width: 800px;
  height: 52px;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.13));
  background-color: #ffffff;
  margin-top: 20px;
}
.blok__battom-mail {
  background: url(../Pictures/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 52px;
  height: 36px;
}
.blok__battom-group {
  background: url(../Pictures/group.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 52px;
  height: 36px;
}
.blok__battom-settings {
  background: url(../Pictures/settings.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 52px;
  height: 36px;
}
.blok__battom-rss_fid {
  background: url(../Pictures/rss_feed.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 52px;
  height: 36px;
}
.blok__reviews-page {
  width: 100%;
  max-width: 1600px;
  height: 564px;
  border: 1px solid#000000;
}
.block-reviews__img {
  background: url(../Pictures/BGG.png) no-repeat 100% 100%;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 564px;
}
